html, body {
  background: black;
  color: white;
  font-size: .75rem;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-about h3 {
  text-shadow: 1px 1px 1px rgba(193,193,193,0.46);
}

.section-about li {
  font-size: 1rem;
}

.section-about .row {
  margin-top: 25px;
}

.section-about .card {
  overflow: hidden;
  border-radius: 10px;
}

.section-about .card-image {
  position: relative;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-about #card-image0 {
  background-image: url("./components/img/userfriendly.jpg");
}

.section-about #card-image1 {
  background-image: url("./components/img/upselling.jpg");
}

.section-about #card-image2 {
  background-image: url("./components/img/accessibility.jpg");
}

.section-about .card-image:hover {
  transform: scale(1.1);
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
}

.section-about .card-image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(182, 178, 178, .4);
}

.section-about .card-image:hover .overlay {
  background-color: rgba(151, 146, 146, .9);
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
}

.section-about .card-image:hover .card-title {
  opacity: 1;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
}

.section-about .card-image .card-title {
  top: 17%;
  left: 0;
  width: 100%;
  padding: 0;
  font-size: 1.2rem;
  text-shadow: 2px 2px 10px #363636;
  text-align: center;
  opacity: 0;
}

.section-about .card-image#card-image0 .card-title {
  top: 22%;
}

.parallax-container {
  max-height: 300px;
}

#learn-more-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.section-learn-more .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(70, 68, 68, 0.6);
}

#learn-more-content a {
  width: 180px;
  margin: 10px;
}

#learn-more-content .learn-more-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section-project .row {
  margin-top: 1.5rem;
}

.section-project .card p {
  font-size: .8rem;
}

.section-project .card .badge {
  min-width: 4rem;
}

.page-footer .row {
  text-align: center;
}

#footer-logo {
  height: 60px;
}

#footer-logo img {
  height: 100%;
  width: auto;

}

#footer-links {
  margin: 1.5rem 0 0 0;
}

#footer-links a {
  margin: 0 .5rem;
}

@media screen and (min-width: 480px) {
  .section-project .card-reveal .card-title {
    font-size: 2rem;
  }

  .section-project .card-reveal li {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 600px) {
  h3 {
    font-size: 3rem;
  }

  h6 {
    font-size: 1.2rem;
  }

  .section-project .card-reveal ul {
    margin-top: 5px;
  }


  .section-project .card-reveal .card-title {
    font-size: 1.2rem;
  }

  .section-project .card-reveal li {
    font-size: .9rem;
  }
}

@media screen and (min-width: 840px) {
  .section-project .card-reveal ul {
    margin-top: 10px;
  }

  .section-project .card-reveal .card-title {
    font-size: 1.5rem;
  }

  .section-project .card-reveal li {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 992px) {
  .section-project .card-image .card-title {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1200px) {
  .section-project .card-image .card-title {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1300px) {
  .section-project .card-reveal {
    padding-top: 20px;
  }

  .section-project .card-image .card-title {
    font-size: 2rem;
  }

  .section-project .card-reveal li {
    font-size: 1.2rem;
  }
}
